In [1]:
import pandas as pd
import numpy as np

d = np.arange(10).reshape(5,2)
df = pd.DataFrame(d, columns=["col1" ,"col2"])

In [2]:
df

   col1  col2
0     0     1
1     2     3
2     4     5
3     6     7
4     8     9

In [3]:
print(type(df.col1))
# <class 'pandas.core.series.Series'>

print(df.col1.dtype)
# int64

<class 'pandas.core.series.Series'>
int64

In [4]:
df.col1[df.col1 == 2] = 100

df

   col1  col2
0     0     1
1   100     3
2     4     5
3     6     7
4     8     9

In [9]:
df_list=[True, False, False, True, False]

In [10]:
df_list

[True, False, False, True, False]

In [11]:
df.col1

0      0
1    100
2      4
3      6
4      8
Name: col1, dtype: int64

In [12]:
df_TF = pd.DataFrame(df_list, columns=["T/F"])

In [13]:
df_TF

     T/F
0   True
1  False
2  False
3   True
4  False

In [17]:
#df.col1.where(df_TF["T/F"] == True, 1)
df.col1.where(df_TF["T/F"] == False, 0)

0      0
1    100
2      4
3      0
4      8
Name: col1, dtype: int64

In [18]:
# NLTKのモジュールのダウロード
nltk.download('stopwords')
nltk.download('punkt')

NameError: name 'nltk' is not defined

In [19]:
!pip install nltk

Requirement already satisfied: nltk in /Users/koz/opt/anaconda3/lib/python3.7/site-packages (3.4.5)
Requirement already satisfied: six in /Users/koz/opt/anaconda3/lib/python3.7/site-packages (from nltk) (1.12.0)

In [20]:
#from mplfinance import candlestick2_ohlc
from datetime import datetime, timedelta
 
# 自然言語処理（NLP）を扱うライブラリ
import nltk
from nltk.corpus import stopwords
import string
 
# 機械学習ライブラリ
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import confusion_matrix 
from sklearn.metrics import accuracy_score
 
# 設定
pd.options.display.max_colwidth = -1

In [21]:
# NLTKのモジュールのダウロード
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to /Users/koz/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /Users/koz/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True